.hero {
    max-width: 548px;
    margin: 0 auto;

    display: flex;
    flex-direction: column;
    align-items: center;
    
    .homepageTitles {
        text-align: center;

        h1 {
            font: 700 7rem "Manrope", sans-serif;
            line-height: 109px;
            color: var(--text-color);
            text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        }
    
        h1 + h1 {
            color: transparent;
            -webkit-text-stroke: 2px var(--button);
        }
    }

    img {
        position: absolute;
        bottom: 0;
        width: 100%;

        @media (min-height: 768px) {
            height: 500px;
        }

        @media (max-height: 740px) {
            height: 340px;
        }
    }
}

.heroMobile {
    max-width: 373px;
    margin: 11rem auto 0;

    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    
    & > h1 {
        margin: 0 2.8rem 11rem;
        font: 600 3.75rem "Manrope", sans-serif;
        line-height: 5.125rem;

        margin-bottom: 11rem;
    }

    .homepageTitles {
        margin: 12.25rem 0 0;

        h1 {
            font: 700 5.625rem "Manrope", sans-serif;
            line-height: 8.5rem;
            color: var(--text-color);
            text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        }
    
        h1 + h1 {
            color: transparent;
            -webkit-text-stroke: 2px var(--button);
        }
    }

    .heroBottom {
        width: 100%;
        object-fit: cover;
        position: relative;

        img {
            display: block;
            position: absolute;
            top: 0;
    
            width: 100%;
            height: 259px;
    
            /*@media (max-height: 878px) {
                height: 200px;
            }
    
            @media (max-height: 740px) {
                height: 150px;
            }*/
        }
    }

   
}

.blurOne, .blurTwo {
    z-index: -1;
    position: absolute;

    width: 321px;
    height: 321px;

    background-color: var(--blur-color);
    filter: blur(200px);
}

.blurOne {
    bottom: 0;
    left: 0;
}

.blurTwo {
    top: 0;
    right: 0;
}

.blurMobile {
    z-index: -1;
    position: absolute;
    bottom: 0;

    width: 100%;
    height: 321px;

    background-color: var(--blur-color);
    filter: blur(200px);
}










