.headerBox {
    max-width: 920px;
    margin: 0 162px 0 280px;
    padding: 5rem 0 4rem;

    display: flex;
    justify-content: space-between;
    align-items: center;

    @media (max-width: 1100px), (min-width: 1440px) {
        max-width: 90%;
        margin: 0 auto;
    }
}

.headerMenu {
    max-width: 432px;

    ul {
        display: flex;
        gap: 3.2rem;

        li {
            font: 500 1.4rem "Manrope", sans-serif;
            line-height: 1.9rem;
            color: var(--text-color);

            transition: transform 0.6s;

            &:hover {
                transform: translate(0px, -4px);
            }
        }
    }
}